<section class="space">
  <div class="box2">
    <a class="color" href="/comment{{id}}">  {{title}}  <span class="end">created by {{user.user_name}} on {{format_time updatedAt}}</span></a>
    <p>{{content}}</p>
  </div>
</section>